@keyframes moveAcrossSection {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(calc(100vw - 100%), -20vh);
  }
  40% {
    transform: translate(calc(50vw - 50%), 30vh);
  }
  60% {
    transform: translate(calc(20vw - 20%), -40vh);
  }
  80% {
    transform: translate(calc(80vw - 80%), 50vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveInCircle {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(100px, -100px) rotate(90deg);
  }
  50% {
    transform: translate(200px, 100px) rotate(180deg);
  }
  75% {
    transform: translate(-100px, 200px) rotate(270deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

.icon-animation-across {
  animation: moveAcrossSection 60s infinite linear;
}

.icon-animation-circle {
  animation: moveInCircle 20s infinite linear;
}

/* Adicionando variação com delay */
.icon-animation-across-delay {
  animation: moveAcrossSection 120s infinite linear;
  animation-delay: 25s;
}

.icon-animation-circle-delay {
  animation: moveInCircle 20s infinite linear;
  animation-delay: 10s;
}